<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Hippo Rate My Class</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!-- font -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/mdb.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/25ab04c114.js" crossorigin="anonymous"></script>
</head>

<body>
<!--Main Navigation-->
<header>
    <div class="container-fluid pt-3">
        <nav class="navbar navbar-expand-lg navbar-dark z-depth-0" style="font-size: medium">
            <a class="navbar-brand text-dark" href="/"><i class="fas fa-hippo"><strong class="text-dark">&nbsp;&nbsp;RateMyClass.io </strong></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!--                <ul class="navbar-nav  ml-auto">-->
<!--                    <li id="homeBtn" class="nav-item p-2 hoverable">-->
<!--                        <a class="nav-link text-dark " href="/"><i class="fas fa-home"> Home</i></a>-->
<!--                    </li>-->
<!--                    <li id="classBtn" class="nav-item p-2 hoverable">-->
<!--                        <a  class="nav-link text-dark" href="/search"><i class="fas fa-search">&nbsp;Find Class</i></a>-->
<!--                    </li>-->
<!--                    <li id="classBtn" class="nav-item p-2 hoverable">-->
<!--                        <a  class="nav-link text-dark" href="/search">&nbsp;About us</i></a>-->
<!--                    </li>-->
<!--                </ul>-->
                <ul class="navbar-nav ml-auto">

                    <li id="homeBtn" class="nav-item p-2">
                        <a class="nav-link text-dark " href="/"><i class="fas fa-home"> Home</i></a>
                    </li>
                    <li id="classBtn" class="nav-item p-2">
                        <a  class="nav-link text-dark" href="/search"><i class="fas fa-search">&nbsp;Find Class</i></a>
                    </li>
                    <li id="classBtn" class="nav-item p-2 mr-4">
                        <a  class="nav-link text-dark" href="/search">&nbsp;About</a>
                    </li>

                    {{#if avatar}}
                        <li class="nav-item avatar dropdown text-dark p-2 rounded" style="border-width: 1px !important;">
                            <a class="nav-link dropdown-toggle text-dark" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img src="{{avatar}}" class="rounded-circle z-depth-0"
                                     alt="avatar image">
                                &nbsp;
                                {{#if userNickname}}
                                    Hi, {{userNickname}}
                                {{/if}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right dropdown-primary text-dark"
                                 aria-labelledby="navbarDropdownMenuLink-55">
                                <a class="dropdown-item text-dark" href="/profile">Profile</a>
                                <a class="dropdown-item text-dark" href="/addClass">Add Class</a>
                                <a class="dropdown-item text-dark" href="/logout">Sign Out</a>
                            </div>
                        </li>
                    {{/if}}

                    {{#if signedOut}}
                        <li class="nav-item">
                            <a id="loginBtn" class="nav-link btn btn-outline-black rounded text-dark p-2" href="/userLogin">Login <span class="sr-only">(current)</span></a>
                        </li>
                    {{/if}}


                </ul>
            </div>
        </nav>
    </div>
</header>
<!--Main Navigation-->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/js/mdb.min.js"></script>
<!-- Your custom scripts (optional) -->
<script type="text/javascript"></script>

{{{body}}}

<!-- jQuery -->
</body>

</html>

<script>
    $(document).ready(function () {
        $.getJSON('/api/checkLogin', (res)=>{
            if(res.loggedIn){
                // If user logged in
                $('#loginMsg').text(`Hi, ${res.nickname}`);
            }
        });
    });
</script>