<link rel="stylesheet" href="css/sidebar.css">
<script src="/plugins/rating/jquery.star-rating-svg.js"></script>
<link rel="stylesheet" type="text/css" href="/plugins/rating/css/star-rating-svg.css">


<div class="container d-md-flex align-items-stretch mt-5 animated fadeIn">
    <!-- Page Content  -->
    <div class="container-fluid justify-content-center">
        <div id="content" class="pt-5">
            <div class="row d-flex">
                <div class="col col-md-12">
                    <!-- Search form -->
                    <form id="searchForm" class="form-inline d-flex md-form">
                        <input id="searchQuery" class="form-control form-control-lg ml-3 w-75" type="text" placeholder="Name/Code/Professor"
                               aria-label="Search">
                        <div class="d-flex justify-content-start ml-3">
                            <div id="spinner" class="spinner-border text-primary m-1 d-none" role="status">
                                <span class="sr-only">Loading</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="result">
                <!--Big blue-->
                <div class="container mt-3">
                    <div class="col-md-9">
                        <img class="img-fluid" src="/img/illustration/arabica-1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="p-1" id="sidebar">
        <div class="p-4 pt-5 mt-2">
            <div class="form-group">
                <!-- Material input -->
                <div class="row">
                    <div class="col-md-12 select-outline">
                        <select id="sortDropdown" class="mdb-select md-form md-outline colorful-select dropdown-primary">
                            <option value="relevance" >Relevance</option>
                            <option value="quality">Quality</option>
                            <option value="difficulty">Difficulty</option>
                            <option value="grade">Grade</option>
                        </select>
                        <label>Sort By</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 select-outline">
                        <select class="mdb-select md-form md-outline colorful-select dropdown-primary">
                            <option value="New York University" >NYU</option>
                        </select>
                        <label>School</label>
                    </div>
                </div>
            </div>
            {{!-- <div class="mb-5">
                <h5 class="text-dark p-2">Tags</h5>
                <div class="tagcloud">
                    <a href="#" class="tag-cloud-link">Clear</a>
                    <a href="#" class="tag-cloud-link">Passionate</a>
                    <a href="#" class="tag-cloud-link">Good Feedback</a>
                    <a href="#" class="tag-cloud-link">Caring</a>
                </div>
            </div> --}}
            <p class="text-dark p-2"><a class="text-muted">Can't find class? </a><a href="/addClass">Add it</a></p>
            <p class="text-dark p-2" style="line-height: 20px; "><a class="text-dark">Why do I have to login?</a><small class="text-muted"><br>In order to ensure our review quality, we want you to register an anonymous account</small></p>
        </div>
    </nav>

</div>

<script>

    // Material Select Initialization
    $(document).ready(function() {
        $('.mdb-select').materialSelect();
        $('.select-wrapper.md-form.md-outline input.select-dropdown').bind('focus blur', function () {
            $(this).closest('.select-outline').find('label').toggleClass('active');
            $(this).closest('.select-outline').find('.caret').toggleClass('active');
        });
    });

    // API FETCH

    function noResult() {

        const showNoResult = `<div class="container mt-3 justify-content-center text-center animated bounce">

                                <div class="col-md-8">
                                    <img class="img-fluid" src="/img/illustration/arabica-12.png">
                                    <p>
                                    <h2 class="p-2" style="font-family: Istok Web">No Class Found</h2>
                                    </p>
                                    <p>Unable to find you class? <a href="/addClass">Add it.</a></p>

                                </div>
                            </div>
                            `;

        $("#result").append(showNoResult);
    }

    function addResult(currentClass,num){
        const result = `<div class="row d-flex">
                <div class="col col-md-12 mt-2">
                    <div class="card z-depth-0 animated fadeIn hoverable">
                        <div class="card-body">
                            <div class="row d-flex">
                                <div class="col-md-10">
                                    <div class="card-title">
                                        <h5>${currentClass.className}</h5>
                                    </div>
                                    <div class="card-subtitle pt-2 pb-2 font-small text-muted">
                                        <a>${currentClass.classCode}</a>
                                        <a class="ml-2 mr-2">|</a>
                                        <a>${currentClass.professor}</a>
                                    </div>
                                    <div class="card-text">
                                        <ul class="list-unstyled list-group list-group-horizontal">
                                            <li class="mr-3 dark-grey-text">Quality &nbsp;<i class="rating-quality-${num}"></i>&nbsp;</li>
                                            <li class="mr-3 dark-grey-text">Difficulty &nbsp;<i class="rating-difficulty-${num}"></i>&nbsp;</li>
                                            <li class="mr-3 dark-grey-text">Avg. Grade: <span class="badge badge-pill badge-danger">${currentClass.overallGradeLetter}</span></li></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2 d-inline-block align-middle">
                                    <div class="card-text text-right">
                                        <p>
                                        <a class="ml-3 text-muted"><i class="fas fa-comment"></i></a>
                                        <small class="text-muted">${currentClass.reviews.length}</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <a href="/class/${currentClass._id}" class="stretched-link"></a>
                        </div>
                    </div>
                    <hr>
                </div>`;

        // Calculate Half Rates
        let classQualityRate, classDifficultyRate;
        classQualityRate = currentClass.overallClassQualityRate;
        classDifficultyRate = currentClass.overallClassDifficultyRate;
        const QualityRateDec = classQualityRate - Math.floor(classQualityRate);
        const DifficultyRateDec = classDifficultyRate - Math.floor(classDifficultyRate);
        if(QualityRateDec >= 0.35 && QualityRateDec < 0.50){
            classQualityRate = Math.floor(classQualityRate) + 0.50;
        } else if(QualityRateDec >= 0.50 && QualityRateDec < 0.75){
            classQualityRate = Math.floor(classQualityRate) + 0.50;
        }else if(QualityRateDec >= 0.75){
            classQualityRate = Math.ceil(classQualityRate);
        }
        if(DifficultyRateDec >= 0.35 && DifficultyRateDec < 0.50){
            classDifficultyRate = Math.floor(classDifficultyRate) + 0.50;
        } else if(DifficultyRateDec >= 0.50 && DifficultyRateDec < 0.75){
            classDifficultyRate = Math.floor(classDifficultyRate) + 0.50;
        }else if(DifficultyRateDec >= 0.75){
            classDifficultyRate = Math.ceil(classDifficultyRate);
        }

        $("#result").append(result);

        $(`.rating-quality-${num}`).starRating({
            useFullStars: false,
            starShape: 'rounded',
            starSize: 20,
            forceRoundUp:true
        });
        $(`.rating-difficulty-${num}`).starRating({
            useFullStars: false,
            starShape: 'rounded',
            starSize: 20,
            forceRoundUp:true
        });
        $(`.rating-quality-${num}`).starRating('setRating', classQualityRate);
        $(`.rating-difficulty-${num}`).starRating('setRating', classDifficultyRate);
        $(`.rating-quality-${num}`).starRating('setReadOnly', true);
        $(`.rating-difficulty-${num}`).starRating('setReadOnly', true);

    }

    function delay(fn, ms) {
        let timer = 0;
        return function(...args) {
            $("#spinner").removeClass('d-none').addClass('animated','fadeIn');
            clearTimeout(timer);
            timer = setTimeout(fn.bind(this, ...args), ms || 0)
        }
    }

    $('#sortDropdown').change(delay(function (event) {
            $("#result").empty();
            if($('#searchQuery').val() === ''){
                alert('Please enter either class name/code/professor!');
                $("#spinner").addClass('d-none');
                noResult();
            }else{
                $.getJSON(`/api/searchClass/${$('#searchQuery').val()}/${this.value}`, function (data) {
                if(data.length < 1){
                    noResult();
                }else{
                    for(let i=0; i<data.length;i++){
                        addResult(data[i],i);
                    }
                }
                setTimeout(function () {
                    $("#spinner").addClass('d-none');
                },800);
            });
            }
    },500))

    $("#searchForm").keyup(delay(function (event) {
            if(event.target.value === ''){
                $("#spinner").addClass('d-none');
            }
            $("#result").empty();
            $.getJSON(`/api/searchClass/${event.target.value}/${$('#sortDropdown').val()}`, function (data) {
                if(data.length < 1){
                    noResult();
                }else{
                    for(let i=0; i<data.length;i++){
                        addResult(data[i],i);
                    }
                }
                setTimeout(function () {
                    $("#spinner").addClass('d-none');
                },800);
            });
    },500));


</script>