<link rel="stylesheet" href="css/sidebar.css">
<script src="/plugins/rating/jquery.star-rating-svg.js"></script>
<link rel="stylesheet" type="text/css" href="/plugins/rating/css/star-rating-svg.css">

<div class="container-fluid d-md-flex align-items-stretch mt-5">
    <nav id="sidebar" class="z-depth-1">
        <div class="p-4 pt-5 mt-2">
            <div class="form-group">
                <label class="h5 form-text text-dark" for="classCode">Search by</label>
                <!-- Material input -->
                <!-- Material outline input -->
                <div class="md-form md-outline">
                    <input type="text" id="class" class="form-control">
                    <label for="form1">Class</label>
                </div>
                <div class="md-form md-outline">
                    <input type="text" id="professor" class="form-control">
                    <label for="form1">Professor</label>
                </div>
            </div>
            <div class="mb-5">
                <h5 class="text-dark p-2">Tags</h5>
                <div class="tagcloud">
                    <a href="#" class="tag-cloud-link">dish</a>
                    <a href="#" class="tag-cloud-link">menu</a>
                    <a href="#" class="tag-cloud-link">food</a>
                    <a href="#" class="tag-cloud-link">sweet</a>
                    <a href="#" class="tag-cloud-link">tasty</a>
                    <a href="#" class="tag-cloud-link">delicious</a>
                    <a href="#" class="tag-cloud-link">desserts</a>
                    <a href="#" class="tag-cloud-link">drinks</a>
                </div>
            </div>
<!--            <div class="mb-5">-->
<!--                <h5 class="text-dark">Newsletter</h5>-->
<!--                <form action="#" class="subscribe-form">-->
<!--                    <div class="form-group d-flex">-->
<!--                        <div class="icon"><span class="icon-paper-plane"></span></div>-->
<!--                        <input type="text" class="form-control" placeholder="Enter Email Address">-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
        </div>
    </nav>
    <!-- Page Content  -->
    <div class="container-fluid">
        <div id="content" class="p-5 p-md-5 pt-5">
            <div class="row d-flex">
                <div class="col col-md-auto">
                    <!-- Card -->
                    <!-- Card -->
                    <div class="card card-weather">

                        <!-- Card content -->
                        <div class="card-body pb-3">

                            <!-- Class Name -->
                            <h5 class="card-title font-weight-bold">Applied Internet Technology</h5>
                            <!-- Class Code -->
                            <p class="card-text">CSCA-UA-480&nbsp;|&nbsp;Joe Versoza</p>
                            <div class="d-flex justify-content-between">
                                <p class="display-3 degree text-black">4.9</p>
                                <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
                            </div>
                            <p class="card-text"><span class="badge badge-pill badge-default">Quality</span>&nbsp;<i class="rating-1"></i></p>
                            <p class="card-text"><span class="badge badge-pill badge-danger">Difficulty</span>&nbsp;<a class="rating-2"></a></p>
                            <p class="card-text">Overall Grade: </p>
                            <div class="progress md-progress z-depth-1" style="height: 10px">
                                <div class="progress-bar" role="progressbar" style="width: 75%; height: 10px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-between font-small text-muted mb-4">
                                <li class="pl-4">F</li>
                                <li>D</li>
                                <li>C</li>
                                <li>B</li>
                                <li class="pr-4">A</li>
                            </ul>

                                <hr class="">
<!--                                <a class="btn btn-flat p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">ss</a>-->
                                    <div class="d-flex justify-content-end">
                                    <small class="text-muted text-right">See Reviews</small>
                                    </div>

                        </div>

                    </div>
                    </div>

                    <div class="col col-md-auto">
                        <!-- Card -->
                        <!-- Card -->
                        <div class="card card-weather">

                            <!-- Card content -->
                            <div class="card-body pb-3">

                                <!-- Class Name -->
                                <h5 class="card-title font-weight-bold">Applied Internet Technology</h5>
                                <!-- Class Code -->
                                <p class="card-text">CSCA-UA-480&nbsp;|&nbsp;Yulong He</p>
                                <div class="d-flex justify-content-between">
                                    <p class="display-3 degree text-black">5.0</p>
                                    <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
                                </div>
                                <p class="card-text"><span class="badge badge-pill badge-default">Quality</span>&nbsp;<i class="rating-1"></i></p>
                                <p class="card-text"><span class="badge badge-pill badge-danger">Difficulty</span>&nbsp;<a class="rating-2"></a></p>
                                <p class="card-text">Overall Grade: </p>
                                <div class="progress md-progress z-depth-1 bg-warning" style="height: 10px">
                                    <div class="progress-bar" role="progressbar" style="width: 100%; height: 10px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <ul class="list-unstyled d-flex justify-content-between font-small text-muted mb-4">
                                    <li class="pl-4">F</li>
                                    <li>D</li>
                                    <li>C</li>
                                    <li>B</li>
                                    <li class="pr-4">A</li>
                                </ul>

                                <hr class="">
                                <!--                                <a class="btn btn-flat p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">ss</a>-->
                                <div class="d-flex justify-content-end">
                                    <small class="text-muted text-right">See Reviews</small>
                                </div>

                            </div>

                        </div>
                    </div>

            </div>
        </div>
    </div>

</div>

<script>

    // nav
    $("#classBtn").addClass('active');

    $(".rating-1").starRating({
        useFullStars: true,
        starShape: 'rounded',
        starSize: 20
    });
    $('.rating-1').starRating('setRating', 2.5)
    $('.rating-1').starRating('setReadOnly', true);
    $(".rating-2").starRating({
        useFullStars: true,
        starShape: 'rounded',
        starSize: 20
    });
    $('.rating-2').starRating('setRating', 5)
    $('.rating-2').starRating('setReadOnly', true);
</script>