<link rel="stylesheet" type="text/css" href="/js/overhang/overhang.min.css" />
<script type="text/javascript" src="/js/overhang/overhang.min.js"></script>
<div class="container mt-5">
    <div class="row mb-5"></div>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5">
            <div class="card z-depth-0 border border-light w-auto animated fadeIn">
                <h5 class="header bg-white dark-text text-center py-4">
                    <strong>SIGN UP</strong>
                </h5>
                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">
                    <!-- Form -->
                    <form id="reg-form" method="POST" class="text-center" style="color: #757575;" action="/reg">
                        <!--Username-->
                        <div class="md-form">
                            <input name="username" type="text" id="username" class="form-control" required>
                            <label for="materialRegisterFormEmail">Username</label>
                            <small class="form-text text-danger text-right d-none" id='usernameError'>username already existed</small>
                        </div>
                        <!-- Password -->
                        <div class="md-form">
                            <input name="password" type="password" id="password" class="form-control"
                                aria-describedby="materialRegisterFormPasswordHelpBlock" required>
                            <label for="materialRegisterFormPassword">Password</label>
                        </div>
                        <!-- E-mail -->
                        <div class="md-form">
                            <input name="userEmail" type="email" id="userEmail" class="form-control">
                            <label for="materialRegisterFormEmail">E-mail</label>
                            <small class="form-text text-right">Optional</small>
                        </div>

                        <!-- NickName -->
                        <div class="md-form">
                            <input name="userNickname" type="text" id="nickname" class="form-control"
                                aria-describedby="materialRegisterFormPhoneHelpBlock" placeholder="Nickname" required>
                        </div>

                        <!--Select School-->
                        <select name="userUniversity" id="selectSchool"
                            class="mdb-select md-form colorful-select dropdown-primary" searchable="Search here..." required>
                            <option value="n/a" disabled selected>Choose your school</option>
                            <option value="New York University"
                                data-icon="https://mir-s3-cdn-cf.behance.net/project_modules/disp/e3ffdb16164203.562a63b1164bb.jpg"
                                class="rounded-circle">
                                New York University</option>
                        </select>

                        <input name="avatarURL" value="http://127.0.0.1" id="imageURL" style="display: none;">


                        <!-- Sign up button -->
                        <button id="submitButton" class="btn btn-outline-grey rounded my-4 waves-effect z-depth-0"
                            type="submit">sign
                            up</button>

                        <hr>
                        <!-- Terms of service -->
                        <small>
                            By clicking
                            <em>Sign up</em> you agree to our
                            <a href="" target="_blank">terms of service</a>
                        </small>
                    </form>
                    <!-- Form -->

                </div>

            </div>

        </div>
        <div class="col-md-4 text-center">
            <div class="row mt-4">
                <div class="col">
                    <!-- Card Regular -->
                    <div class="card card-cascade md-5 p-3 z-depth-0">

                        <!-- Card image -->
                        <div class="view z-depth-0 view-cascade overlay">
                            <img id="avatar" class="card-img-top" src="https://avatars.dicebear.com/v2/male/placeholde1r%40rmcio.svg" alt="Card image cap">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body card-body-cascade text-center">

                            <!-- Title -->
                            <h4 id="previewNickname" class="card-title"><strong>Nickname</strong></h4>
                            <!-- Subtitle -->
                            <h6 id="#schoolName" class="card-text text-muted">New York University</h6>
                            <div class="row">
                                <div class="col-md-12 select-outline">
                                    <select id="avatarType" class="mdb-select md-form md-outline colorful-select dropdown-primary">
                                        <option value="" disabled selected>Choose Avatar Type</option>
                                        <option value="male">male</option>
                                        <option value="female">female</option>
                                        <option value="human">human</option>
                                        <option value="avataaars" selected>avatars</option>
                                    </select>
                                    <label>Choose Avatar Type</label>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <button id="randomButton" class="btn btn-sm rounded btn-outline-grey mtn-4 mb-3">Randomize</button>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        $('#selectSchool').materialSelect();
        $('#imageURL').attr('value', $('#avatar').attr('src'));
        // Material Select Initialization
        $(document).ready(function() {
            $('#avatarType').materialSelect();
            $('.select-wrapper.md-form.md-outline input.select-dropdown').bind('focus blur', function () {
                $(this).closest('.select-outline').find('label').toggleClass('active');
                $(this).closest('.select-outline').find('.caret').toggleClass('active');
            });
        });
    });


    let formValid = false;

    // randomize avatar
    function getRandomAvatar(type, username) {
            const rand = Math.floor(Math.random() * Math.floor(1000));
            const seed = 'rmcio' + username + rand.toString();
            if(!username){
                alert('Please type user name to get avatar')
            }else {
                $('#avatar').attr('src', `https://avatars.dicebear.com/v2/${type}/${seed}.svg`);
                $('#imageURL').attr('value', `https://avatars.dicebear.com/v2/${type}/${seed}.svg`);
            }
    }

    $('#avatarType').change(function (evt) {
        getRandomAvatar(evt.target.value, $('input#username').val());
    });


    // Validate username
    $('input#username').change(function(e){
        console.log($('#avatarType').val());
        getRandomAvatar($('#avatarType').val(), e.target.value);
        $.getJSON(`/api/checkUser?username=${e.target.value}`,(result)=>{
            if(result.exist === '1'){
                $('#usernameError').removeClass('d-none');
                formValid = false;
            }else{
                $('#usernameError').addClass('d-none');
                formValid = true;
            }
        })
    });

    // show the preview
    $('input#nickname').keyup(function (e) {
        $('#previewNickname').text(e.target.value);
    });
    $('#selectSchool').change(function (e) {
        $('#schoolName').html("&nbsp" + e.target.value);
    });

    // randomize
    $('#randomButton').click(function (e) {
        getRandomAvatar($('#avatarType').val(), $('input#username').val());
    });

    function lengthValidation(){
        let IsUsername, IsPassword, IsNickname = false;
        const regex = /([a-zA-Z0-9_-]){3,15}$/;
        const nickNameRegex = /([^\s]){2,10}$/;
        if(regex.test($('input#username').val())){
            IsUsername = true;
            console.log('username pass');
        }else{
            IsUsername = false;
             $("body").overhang({
                            type: "error",
                            message: "Username must be between 3-15 alphbetical characters or symbol '_-'",
                            overlay:true,
                            duration: 2
            });
        }
        if(regex.test($('input#password').val())){
            IsPassword = true;
            console.log('password pass')
        }else{
            IsPassword = false;
            $("body").overhang({
                            type: "error",
                            message: "Password must be between 3-15 alphbetical characters or symbol '_-'",
                            overlay:true,
                            duration: 2
            });
        }
        if(nickNameRegex.test($('input#nickname').val())){
            console.log('nickname passed.')
            IsNickname = true;
        }else{
            IsNickname = false;
            $("body").overhang({
                            type: "error",
                            message: "Nickname must not contain blank space, and be at least 2 characters",
                            overlay:true,
                            duration: 2
            });
        }
        if(IsUsername && IsPassword && IsNickname){
            return true;
        }else{
            return false;
        }
    }


    // Check validation before submit
    $('#submitButton').click((e)=>{
       const isValidLength =  lengthValidation();
       if(!formValid && !isValidLength){
           // prevent submission
           e.preventDefault();
           $("body").overhang({
                            type: "error",
                            message: "Please Check if you have valid inputs!",
                            overlay:true,
                            duration: 2
                        });
       } 
    });

</script>