@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Istok+Web);


body{
   font-family: 'Istok Web';
}

p{
   font-family: 'Istok Web';
}

ul{
   font-family: 'Istok Web';
}

a{
   font-family: 'Istok Web';
}

.review-hover:hover{
   background: lightgray;
}