<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center mt-5">
        <div class="col-md-6 mx-auto">
            <img class="img-fluid rounded" src="/img/illustration/pluto-upgrade.png">
        </div>
        <div class="col-md-6 text-center mx-auto">
            <p class="h1">Class Added <i class="fas fa-check-square text-success"></i></p>
            <p class="p-3">Thanks for your contribution!</p>
            <p class="grey lighten-3 text-dark p-3 rounded">http://ratemyclass.io/class/5e99eaf18eae5f5f4a4da60c <a></a></p>
            <ul class="fa-ul p-3">
                <li><span class="fa-li"><i class="fas fa-feather"></i></span>Write Review for this class</li>
                <li><span class="fa-li"><i class="fas fa-share-alt"></i></span>Share this class with your friend</li>
            </ul>
        </div>
    </div>
</div>