<script src="https://cdn.tiny.cloud/1/l4xh6s9yyous55kfoz0s5uy8n2nzrfc51yeuwkdw5kysm9on/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: "autosave autoresize image imagetools",
        toolbar_mode: 'floating',
    });
</script>

<!-- QUESTION DETAIL PAGE -->
<div class="container pt-5">
    <nav aria-label="breadcrumb" class="mr-auto">
        <ol class="breadcrumb border border-dark white">
            <li class="breadcrumb-item"><a class="black-text" href="#">Intro to Microeconomics, Marc LiberMan</a></li>
            <li class="breadcrumb-item"><a class="black-text" href="#">Discussion</a></li>
            <li class="breadcrumb-item active">Has anyone taken this course?</li>
        </ol>
    </nav>
    <!--QUESTION SECTION-->
    <div class="row border p-3 rounded mb-2">
        <div class="col-md-1">
            <img src="https://avatars.dicebear.com/api/male/ffdssd.svg" alt="Avatar"
                class="md-avatar rounded-circle pr-1" style="width: 4em;">
        </div>
        <div class="col-md-11">
            <div class="d-flex">
                <h6 class="font-weight-bold">Carlos</h6>
                <small class="text-muted ml-2">May 5</small>
            </div>
            <div class="d-flex flex-column justify-content-start">
                <h3 class="font-weight-bold py-2 text-p">Has anyone taken this course?</h3>
                <p class="pb-5">Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
                    modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
                    veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                    commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                    molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                    <br />
                    1914 translation by H. Rackham
                    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will give you a complete account of the system, and expound the actual teachings of the
                    great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or
                    avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
                    pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who
                    loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally
                    circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial
                    example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
                    from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no
                    annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
            </div>
            <div class="d-flex justify-content-between">
                <a class=""><i class="fas fa-reply text-danger"></i>
                    <small class="text-black-50"><span class="font-weight-bold">Hugo</span>&nbsp;responeded 5 hours ago</small><br />
                    <small class="text-black-50 ml-4">4396 views</small>
                    <a class="btn btn-sm btn-rounded btn-primary">Reply</a>
            </div>
        </div>
    </div>
    <!--QUESTION SECTION END-->
    <!--ANSWER SECTION -->
    <div class="row border p-3 rounded mb-2">
        <div class="col-md-1">
            <img src="https://avatars.dicebear.com/api/avataaars/dsffdssddd.svg" alt="Avatar"
                class="md-avatar rounded-circle pr-1" style="width: 4em;">
        </div>
        <div class="col-md-11">
            <div class="d-flex">
                <h6 class="font-weight-bold">Dennis H.</h6>
                <small class="text-muted ml-2">2019-02-04 14:00 PM</small>
            </div>
            <div class="d-flex flex-column justify-content-start pt-2">
                <p class="pb-5">
                    <a class="text-primary">@Hawk</a> 1914 translation by H. Rackham
                    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will give you a complete account of the system, and expound the actual teachings of the
                    great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or
                    avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
                    pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who
                    loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally
                    circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial
                    example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
                    from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no
                    annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
            </div>
            <div class="d-flex justify-content-end">
                <a class="text-primary">@ this response</a>
            </div>
        </div>
    </div>
    <!-- ANSWER SECTION END -->
    <!-- RESPOND SECTION -->
    <h3 class="text-center mt-5 font-weight-bold"><i class="fas fa-comment-dots"></i> Answer to this question </h3>
    <hr>
    <div class="row rounded mt-5">
        <div class="col-md-12">
            <div class="alert alert-secondary d-flex justify-content-between" role="alert">
                <a>Respond to <span class="font-weight-bold text-primary"> @Hawk</span></a>
                 <a class="text-muted"><span aria-hidden="true">&times;</span> Cancel</small> 
            </button>
            </div>
            <form method="post">
                <textarea id="postAnswer" name="postAnswer">
                    <span class="text-primary"></span>
                </textarea>
                <div class="d-flex justify-content-center mt-3" style="margin-bottom: 100px;">
                    <button class="btn btn-sm btn-primary btn-rounded text-center" type="submit">Reply</button>
                </div>
            </form>
        </div>
    </div>
</div>